

@media only screen and (max-width: 1215px) {
  iframe { width: 800px; }
  #player { width: 800px; }
}

@media only screen and (max-width: 1023px) {
  iframe { width: 600px; }
  #player { width: 600px; }
    .padding-sides {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 768px) {
  iframe { width: 400px; }
  #player { width: 400px; }
  .padding-sides {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 479px) {
  iframe { width: 300px; }
  #player { width: 300px; }
  .padding-sides {
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 1216px) {
  #about .inner-container {
    padding-right: 280px;
  }
}



p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 20px;
  color: black;
}

a {
  color: red;
}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 2px solid black;
}

.subcontent  p {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}

.container {
  padding: 274px 0px 100px 0px;
}

.text-right {
  text-align: right;
}




#header nav {
  display: flex;
  justify-content: center;
  background-color: black;
  /*  padding: 25px 0px;*/
  position: fixed;
  z-index: 997;
  width: 100%;
}


#logo{
  transition: all 1s;
}
.large-logo{width: 300px; padding: 25px 0px;}
.small-logo{width: 100px; padding: 5px 0px;}

#about .imagery-container .photo-card .imagery { border-radius: 5px; overflow: hidden; }
#about .imagery-container .photo-card { text-align: center; }



#about .content-block p {
  font-size: 10px;
  line-height: 14px;
  font-style: italic;
  font-weight: 400;
}

#footer .subcontent {
  margin-top: 10px;
}

#bottom-footer .outer-container {
  display: flex;
  justify-content: center;
  background-color: black;
  /*  padding: 25px 0px;*/
  z-index: 999;
  width: 100%;
}
