

@media only screen and (max-width: 1215px) {
  iframe { width: 800px; }
  .youtube-video iframe {
    height: 450px;
  }
  #player { width: 800px; }
}

@media only screen and (max-width: 1023px) {
  iframe { width: 600px; }
  .youtube-video iframe {
    height: 337px;
  }  
  #player { width: 600px; }
    .padding-sides {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 768px) {
  iframe { width: 400px; }
  .youtube-video iframe {
    height: 225px;
  }  
  #player { width: 400px; }
  .padding-sides {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 479px) {
  iframe { width: 300px; }
  .youtube-video iframe {
    height: 169px;
  }  
  #player { width: 300px; }
  .padding-sides {
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 1216px) {
  #about .inner-container {
    padding-right: 280px;
  }
}

body {
  background-color: #0A0A0B;
}

.title {
  font-size: 24px;
  color: #FECB2F;
}

p, a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 20px;
  color: #FECB2F;
}
a {
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #FECB2F;
  border-bottom: 1px solid #FECB2F;;
}
.padded-b-10 {
  margin-bottom: 8px !important;
}


hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 2px solid #FECB2F;
}


.text-right {
  text-align: right;
}

#bottom-footer .outer-container {
  display: flex;
  justify-content: center;
  /*  padding: 25px 0px;*/
  z-index: 999;
  width: 100%;
}
